<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <style>

        body {
            font-size: 16px; /* Establecer el tamaño de fuente base para todo el cuerpo */
        }
          
        .color-btn {
            background-color: #00a09d;
        }

        .color-head {
            background-color: #875a7b;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
            border-radius: 10px;
        }

        th {
            background-color: #875a7b;
            color: white;
            font-weight: bold;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #ddd;
        }

    </style>
</head>

<body class="body">
    <%- include('../navbar')%>
    <div class="container">
        <br><br>
        <div class="d-flex justify-content-between">
            <h5 class="text-left" style="color: dimgrey; ">Usuarios</h5>
            <a style="background-color: #00a09d; color: white;" class="btn" href="/crear">
                <i class="bi bi-pencil"></i>
                Crear
            </a>
        </div>
        <br>
        <table id="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Usuario</th>
                    <th>Nombre Completo</th>
                    <th>Rol</th>
                </tr>
            </thead>
            <tbody id="tableBody">
                <% for( let user=0; user < usuario1.length; user++ ) { %>
                <tr>
                    <td><%=usuario1[user].id%></td>
                    <td><%=usuario1[user].user%></td>
                    <td><%=usuario1[user].name%></td>
                    <td><%=usuario1[user].rol%></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</body>
</html>